body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #000000;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 30px;
    background-color: #93efff;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 0 150px 50px #93efff;
    transition: all;

    animation: glowin 1.5s;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menu{
    width: 100vw;
    height: 200px;
    text-align: center;
}

@keyframes glowin {
    from{
        box-shadow: 0 0 50px 50px #93efff;
        filter: opacity(0.2);
    }
    40%{
        box-shadow: 0 0 100px 50px #93efff;
        filter: opacity(0.6);
    }
    100%{
        box-shadow: 0 0 150px 50px #93efff;
        filter: opacity(1);
    }
}